@{
    ViewData["Title"] = "Home Page";
}
<h1 class="mi-nombre display-4 text-center">
    Andreé Falla
</h1>

<div class="container text-justify" style="max-width: 600px; margin: 0 auto;">
    <p class="font-weight-lighter">
        Soy desarrollador con conocimiento en aplicaciones con el framework ASP.NET Core de tipo MVC con base
        de datos relacionales SQL Server y WEB API'S ambos con C#.
        <br />
        También tengo conocimiento en aplicaciones desarrolladas: con Frontend Angular, Bootstrap,
        Backend con NodeJs, JavaScript y Base de datos no relacionales MongoDB.
    </p>
</div>



<div class="text-center">
    <img id="avatar" src="~/imagenes/me.png" class="img-fluid img-thumbnail rounded-circle" />
</div>

<div class="text-center mt-5">
    <img id="dotnet-image" src="~/imagenes/dotnet.png" alt=".net" />
</div>

<div class="row justify-content-center text-center bg-dark">
    <div class="col col-md-7 seccion-bienvenida">
        <h1 class="font-weight-light">
            Te doy la bienvenida
        </h1>
        <p class="font-weight-light text-justify">
            He estado trabajando profesionalmente desde febrero de 2021, he tenido el privilegio de
            trabajar y realizar proyectos para Cooperativas MICOOPE, Banco INV, CrediPyme y EEGSA,
            todo esto trabajando con C#/ASP.NET, SQL Server y Javascript.
            <br />
            También he tenido la oportunidad de desarrollar API's con .NET relacionadas al envio de 
            notificaciones y conexión de nuestra aplicación a SAP
        </p>
    </div>
</div>
